
.bg-design {
    background-color: rgb(228, 228, 228);
}
.bg-design h2 {
    font-size: 3rem;
    font-weight: 900;
    color:black;
    margin-bottom: 30px;;
}

.bg-design .card img {
    width: 100%;
}
.bg-design h3 {
    font-size: 2rem;
    font-weight: 700;
}

.bg-design .card {
    padding: 20px;
    border: 20px solid rgb(228, 228, 228);
}
.section-width-80 {
    width: 80%;
    margin: 0 auto;
}
