body {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}
.primary-nav {
    z-index: 3;
    background-color: white !important;
    box-shadow: 5px 5px 20px rgba(55, 80, 71, 0.3);
    height: 80px;
}
.secondary-nav {
    z-index: 1;
    position: sticky;
    background-color: black;
}
.primary-nav img {
    width: 50px;
    margin-left: 10px;
}
.primary-nav span {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 0;
}
nav .navbar-nav a {
    color: #420141;
}


/* ---------------------------------------------------HOME PAGE------------------------------------------------------ */

.lite-green-bg {
    background-color: rgba(0, 255, 229, 0.14);
    background-image: url(../images/Oval_topSliced.svg);
    background-repeat: no-repeat;
    background-position: top center;
}
/* HERO IMAGE */
.sectionHero {
    min-height: 700px;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.heroContent {
    background-image: url(../images/Lisa_topSliced_fullbottom.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right top;
}
.Lisa_text_topBlock {
    width: 60%;
    position: top;
    margin-top: 50px;
}
.Lisa_text_lowBlock {
    width: 50%;
}
.lisa_text {
    font-weight: 900;
    font-size: 4rem;
    color: #420141;
}
.lisa_text2 {
    font-weight: 500;
    font-size: 1.5rem;
}

button {
    padding: 10px;
    font-size: 1rem;
    background-color: #420141;
    border: 0;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
}
button a {
    color: #ffffff;
}
button a:hover {
    color: #60efde;
}
.bg-purple h2 {
    font-size: 3rem;
    font-weight: 900;
    color:#60efde;
    margin-bottom: 30px;;
}
.bg-green h2 {
    font-size: 3rem;
    font-weight: 900;
    color:#420141;
}
.bg-purple .card img {
    height: 200px;
    margin: 30px 0;
}
.bg-purple .card {
    border: 5px solid #420141;
    padding: 20px;
}
.arrow img {
    height: 40px;
    margin: 40px;

}
.tile {
    background-color: white;
}
.purple-text {
    color: #330033;
}
.white-text {
    color: white;
}

/* ---------------------------------------------------SOFTWARE LOGOS----------------------------------------------------- */

.software_logos img {
    width: 70px;
    height: 50px;

}
.software_logos {
    padding: 20px;
    margin: 10px;
    text-align: center;
    display: inline-block;
}
.software_logos p {
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 0px;
}
.software_box {
    display: flex;
    flex-flow: column wrap;
}
/* ---------------------------------------------------CASE STUDIES------------------------------------------------------ */

.project_1 {
    background-image: url("../images/hero_beyond.jpg");
    background-size: cover;
    min-height: 400px;
}
.project_2 {
    background-image: url("../images/hero_aiatsis.jpg");
    background-size: cover;
    min-height: 400px;
}
.project_3 {
    background-image: url("../images/hero_markit.jpg");
    background-size: cover;
    min-height: 400px;
}
.project_logo {
    width: 200px;
    margin: 20px;
}
.bg-green button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.bg-green .card {
    margin: 30px 0px;
    border: none;
}

.bg-green .project-text h3 {
    font-weight: 700;
}
.project-text {
    padding: 20px 20px 50px 20px;
}
.leading-text {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

/* ---------------------------------------------------BEYOND BLUE CASE STUDY------------------------------------------------------ */


.beyond-study h2 {
    font-size: 2.5rem;
    font-weight: 900;
    color: #2140C9;
    border-bottom: 1px solid #2140C9;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.beyond-study .mid-blue-bg h2 {
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    margin: 40px 0px;
    
}
.beyond-study h3 {
    font-size: 1.6rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
    margin-top: 20px;
}
.beyond-study h4 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 20px;
}
.beyond-study .intro {
    padding: 30px;
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: top;
    min-height: 500px;
}
.mid-blue-bg {
    background-color: #2140C9;
    color: white;
}
.final {
    background-image: url(../images/bg-final.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    min-height: 500px;
}
section .beyondLogo {
    width: 200px;
    margin: 30px 0px;
}
.section-width-60 {
    width: 60%;
    margin: 0 auto;
}
.section-width-80 {
    width: 80%;
    margin: 0 auto;
}
section .desktop-mobile-img {
    margin-bottom: 0px;
}
.project-info {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 40px;

}
.inline-block {
    display: inline-block;
}

section .insight {
    background-color: #E6F1FD;
    padding: 20px;
    margin: 30px 0px;
}
.section-padding {
    padding: 5% 0px;
}
.beyond-study img {
    width: 100%;
    margin: 30px 0px;
}
.beyond-study #phase-4 .card {
    border: none;
    background-color: transparent;
}
.beyond-study .card img {
    margin: 0px;
}
/* ------------------BACKGROUND COLOURS--------------------
border: 1px solid red;*/
.bg-purple {
    background-color:#420141;
}
.bg-green {
    background-color: #60efde;
}
.bg-light-grey {
    background-color: rgba(0, 0, 0, 0.05);
}
.bg-light-blue {
    background-color: #E6F1FD;
}

/*
border: 1px solid red;*/










@media only screen and (max-width: 600px) {
    .lite-green-bg {
        background-size: 80%;
        background-position: top left;
        background-image: url(../images/Oval_topSliced_rotate.svg);
    }
    .sectionHero {
        height: 100%;
        width: 90%;
        margin: 0 auto;
        display: flex;
    }
    .heroContent {
        background-image:none;
    }
    .lisa_text {
        margin-top: 30%;
        font-size: 2.7rem;
    }
    .lisa_text2 {
        font-size: 1.5rem;
        margin-bottom: 160%;
    }
    .Lisa_text_topBlock {
        width: 60%;
    }
    .Lisa_text_lowBlock {
        width: 100%;
    }
    .bgImageMobile {
        background-image: url(../images/Lisa_toprightSliced_fullbottom.svg);
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: top right;
    }



}