/* ---------------------------------------------------BEYOND BLUE CASE STUDY------------------------------------------------------ */


.beyond-study h2 {
    font-size: 2.5rem;
    font-weight: 900;
    color: #2140C9;
    border-bottom: 1px solid #2140C9;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.beyond-study .mid-blue-bg h2 {
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    margin: 40px 0px;
    
}
.beyond-study h3 {
    font-size: 1.6rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
    margin-top: 20px;
}
.beyond-study h4 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 20px;
}
.beyond-study .intro {
    padding: 30px;
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: top;
    min-height: 500px;
}
.mid-blue-bg {
    background-color: #2140C9;
    color: white;
}
.final {
    background-image: url(../images/bg-final.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    min-height: 500px;
}
section .beyondLogo {
    width: 200px;
    margin: 30px 0px;
}
.section-width-60 {
    width: 60%;
    margin: 0 auto;
}
.section-width-80 {
    width: 80%;
    margin: 0 auto;
}
section .desktop-mobile-img {
    margin-bottom: 0px;
}
.project-info {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 40px;

}
.inline-block {
    display: inline-block;
}

section .insight {
    background-color: #E6F1FD;
    padding: 20px;
    margin: 30px 0px;
}
.section-padding {
    padding: 5% 0px;
}
.beyond-study img {
    width: 100%;
    margin: 30px 0px;
}
.beyond-study #phase-4 .card {
    border: none;
    background-color: transparent;
}
.beyond-study .card img {
    margin: 0px;
}
.bg-light-grey {
    background-color: rgba(0, 0, 0, 0.05);
}
.bg-light-blue {
    background-color: #E6F1FD;
}

/* ---------------------------------------------------AIATSIS CASE STUDY------------------------------------------------------ */


.aiatsis-study .bg-black {
    background-color: black;
    background-image: url(../images/Smoking_ceremony.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    min-height: 100vh;
}
.aiatsis-logo img {
    margin: 30px;
    width: 300px;
}